{{ partial "header.html" . }}
	<div class="row">
		<div class="col-md-9">
			<div class="well well-sm">
				<h3><strong>{{ .Title }}</strong></h3><br />
{{ if .Description }}
				<h4>{{ .Description }}</h4><br />
{{ end }}
				<form id="contact-form" class="post-new-comment" method="POST" action="https://formspree.io/purpleidea-com@shubin.ca">
					<input type="hidden" name="_next" value="{{ .Permalink }}" />
					<input type="hidden" name="_subject" value="Email from {{ .Site.BaseURL }}" />
					<input type="hidden" name="_format" value="plain" />
					<input type="hidden" name="_language" value="en" />
					<input type="text" name="_gotcha" style="display:none" />
					<h5><strong>Name&nbsp;</strong>(required)</h5>
					<input id="contact-name" type="text" style="width: 300px;" class="post-comment-field" placeholder="Your name"><br />
					<h5><strong>Email&nbsp;</strong>(required)</h5>
					<input id="contact-email" type="email" style="width: 300px;" class="post-comment-field" placeholder="Your email address"><br />
					<h5><strong>Website&nbsp;</strong>(optional)</h5>
					<input id="contact-website" type="text" style="width: 300px;" class="post-comment-field" placeholder="Your website"><br />
					<h5><strong>Comments&nbsp;</strong>(required)</h5>
					<textarea id="contact-message" style="width: 450px; height: 200px;" class="post-comment-field" placeholder="Please enter your message here..." rows="10"></textarea><br />
					{{/*
					<input id="encrypted-contact-name" type="hidden" name="encrypted-name" value="en" />
					<input id="encrypted-contact-email" type="hidden" name="encrypted-email" value="en" />
					<input id="encrypted-contact-website" type="hidden" name="encrypted-website" value="en" />
					<input id="encrypted-contact-message" type="hidden" name="encrypted-message" value="en" />
					*/}}
					<input id="encrypted-contact-body" type="hidden" name="encrypted" value="en" />
					<input id="contact-button" type="button" class="post-comment-field btn btn-primary btn-xs" value="Send">
				</form>
				<small>This form uses unreviewed javascript to encrypt your message to me. This should be roughly secure, but privacy cannot be guaranteed.</small>
<a id="pgp-key" /></a>

				<br />
{{ if .Content }}
				<br />
				<h4>{{ .Content }}</h4><br />
{{ end }}
			</div>
		</div>

		<!-- Sidebar -->
		<div class="col-md-3">
		{{ partial "menu.html" . }}
		</div>
	</div>
{{ partial "footer.html" . }}
	<!-- from: https://github.com/keybase/kbpgp/blob/master/rel/kbpgp-2.1.0-min.js -->
	<!--<script src="/js/kbpgp/kbpgp-2.1.0-min.js"></script>-->
	<!--<script src="/js/kbpgp/kbpgp-2.1.0.js"></script>-->
	<script src="/js/kbpgp/kbpgp-2.1.0-modified.js"></script>
	<!-- from: https://raw.githubusercontent.com/caolan/async/master/dist/async.min.js -->
	<script src="/js/async.min.js"></script>
	<script>
	var pub_pgp_key = "{{ readFile .Site.Params.publickeyfile }}";

	$('#contact-button').click(function() {
		kbpgp.KeyManager.import_from_armored_pgp(
			{
				armored: pub_pgp_key
			},
			function(err, user) {
				if (err) {
					console.log("could not load public key, message not sent");
					console.log("error: ", err);
					window.alert("could not load public key, message not sent");
					return
				}
				console.log("loaded public key!");
				process(user); // run all of the encryptions...
			}
		);
		return false; // cancel form submit
	});

	function process(user) {
		async.series(
			[
				{{/*
				// FIXME: https://github.com/keybase/kbpgp/issues/165
				function(done) {
					var msg = $('#contact-name').val();
					encrypt(done, user, msg, '#encrypted-contact-name')
				},
				function(done) {
					var msg = $('#contact-email').val();
					encrypt(done, user, msg, '#encrypted-contact-email')
				},
				function(done) {
					var msg = $('#contact-website').val();
					encrypt(done, user, msg, '#encrypted-contact-website')
				},
				function(done) {
					var msg = $('#contact-message').val();
					encrypt(done, user, msg, '#encrypted-contact-message')
				}
				*/}}
				function(done) {
					// combine strings into a single message for encrypting
					var message = ""
					message += "name: " + $('#contact-name').val() + "\n";
					message += "email: " + $('#contact-email').val() + "\n";
					message += "website: " + $('#contact-website').val() + "\n";
					message += "message:" + "\n" + $('#contact-message').val() + "\n";
					encrypt(done, user, message, '#encrypted-contact-body')
				}
			],
			// the callback runs when every function above is done
			function(err, results) {
				// `results` contains a collection of what
				// you've passed to the `done` callbacks above
				if (err) {
					window.alert("could not encrypt, message not sent");
					return
				}
				$('#contact-form').submit(); // submit it!
			}
		);
	}

	function encrypt(done, user, message, outputid) {
		//console.log("message is: "+ message);
		var params = {
			msg: message,
			encrypt_for: user
		};
		// result comes in a callback
		kbpgp.box(params, function(err, result_string, result_buffer) {
			//console.log("field is encrypting...");
			console.log(err, result_string, result_buffer);
			$(outputid).val(result_string);
			done(err, outputid); // pass some value back
		});
	}
	</script>
