{{ partial "header.html" . }}
	<div class="row">
		<div class="col-md-9">
			<div class="well well-sm">
					<h3><strong>{{ .Title }}</strong><br><small>{{ .Description }}</small></h3>
					<hr>
					{{ .Content }}
			</div>
		</div>

		<!-- Sidebar -->
		<div class="col-md-3">
			<div class="well well-sm"> <!-- Post-specific stats -->
				<h4>{{ .Date.Format "January 2, 2006" }}<br>
				<small>{{ .WordCount }} words</small></h4>
				<hr>
				<strong>Categories</strong>
				<ul class="list-unstyled">
				{{ range .Params.categories }}
					<li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
				</ul>
				<hr>
				<strong>Tags</strong><br>
				{{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
				{{ if .Params.original_url }}
				<hr>
				<strong>Original URL</strong><br>
				<a href="{{ .Params.original_url }}"><small>{{ .Params.original_url }}</small></a>
				{{ end }}

				{{ if and (not (eq .Params.author "purpleidea")) (not (eq .Params.author "")) }}
				{{ if .Params.author }}
				<hr>
				<strong>Author</strong><br>
				<small>{{ .Params.author }}</small>
				{{ end }}
				{{ end }}
			</div>
			{{ partial "menu.html" . }}
		</div>
	</div>

	<div class="row">
		<hr>

	{{ partial "post-comments" . }}
	</div>
{{ partial "footer.html" . }}
