		<footer>
		<div class="row">
			<div class="col-sm-12">
				<hr style="width:75%;text-align:left;margin-left:0">
				<p>
				&copy; {{ .Site.Params.author }} {{ now.Format "2006" }} &middot;
				<a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
				{{ if .File }}
					&middot;
					<a href="https://github.com/purpleidea/purpleidea.com/blob/master/content/{{ .File.Path }}" style="color:grey">Edit this page</a>
				{{ end }}
				</p>
			</div>
		</div>
		</footer>
	</div>

	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
