{{ partial "header.html" . }}
	<div class="row">
		<div class="col-md-9">
			<div class="well well-sm">
				<h3><strong>{{ .Title }}</strong></h3><br />
{{ if .Content }}
				<h4>{{ .Content }}</h4><br />
{{ end }}
{{ if .Description }}
				<h4><strong>{{ .Description }}</strong></h4>
{{ end }}
				<!--<ul class="list-unstyled">-->
				<table class="table table-responsive">
				<thead class="thead-inverse">
				<tr>
				<th>Talk / Recording</th>
				<th>Event / Location</th>
				<th>Rating</th>
				<th>Date</th>
				</tr>
				</thead>
				<tbody>

				<tr><td><i>Choose from below...</i></td><td><i>Your city / office</i></td><td><i>10/10</i></td><td><a href="/contact/"><i>Book a Talk</i></a></td></tr>

				{{ range .Params.talks }}
				<tr>
				<td>
{{ if .video }}
					<a href="{{ .video }}">{{ .topic }}</a>
{{ else }}
					{{ .topic }}
{{ end }}
				</td>
				<td>
{{ if .location_url }}
					<a href="{{ .location_url }}">{{ .location }}</a>
{{ else }}
					{{ .location }}
{{ end }}
				</td>
				<td>
{{ if or (eq .rating "TBD") (not (eq .rating "Unrated")) }}
	{{ if .rating_url }}
					<a href="{{ .rating_url }}"><strong>{{ .rating }}</strong></a>
	{{ else }}
					<strong>{{ .rating }}</strong>
	{{ end }}
{{ else }}
					{{ .rating }}
{{ end }}
				</td>
				<td>
					{{ .date }}
				</td>
				</tr>
				{{ end }}
				</tbody>
				</table>
				<!--</ul>-->
			</div>
		</div>

		<!-- Sidebar -->
		<div class="col-md-3">
			{{ partial "menu.html" . }}
		</div>
	</div>
{{ partial "footer.html" . }}
